html{background: palegreen;}

.pic{border-color: deeppink;
border-width: 20px;
border-style: double;
}

#about {font: sans-serif;
font-size: 20px;
color: darkslategray;}

h1 {font-family: sans-serif;}
h2 {font-family: sans-serif;}

button {height: 100px;
width: 200px; background-color: white; color: deeppink; padding: 20px; font-size: 20px; border-radius: 12px;}

a {font-size: 20px}